<!--<template name="editItem">-->
    <!--{{> slideMenu}}-->
    <!--<div class="container">-->
        <!--<div class="row" id="champion-messages">-->
            <!--<div align="">-->
                <!--<div class="col-md-1">-->
                <!--</div>-->
                <!--<div class="col-md-10">-->
                    <!--<div class="panel panel-default panel-info">-->
                        <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title" align="center">-->
                                <!--Editar Projeto</h3>-->
                        <!--</div>-->
                        <!--<div class="panel-body">-->
                            <!--{{> quickForm buttonContent="Atualizar Projeto" collection="items" id="editItem" type="update" doc=this}}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</template>-->
