<template name="listItems">
    {{> slideMenu}}
    <div class="template-dashboard">
        <div class="container">
            <div class="row" id="champion-messages">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    {{> showShortItems}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="showShortItems">
    <div class="template-posts">
        {{#each  itemList}}
            <div class="panel panel-default panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title" align="center">
                        <span class="pull-left">
							<i class="fa fa-star"></i> {{getRanking owner}}
                            <!--<i class="fa fa-comments"></i> {{commentCount _id}}-->
						</span>
                        Projeto: {{nome}}
                        <span class="pull-right">
							<i class="fa fa-thumbs-up"></i> {{#with favoritesByDoc _id}}{{count}}{{/with}}
						</span>
                    </h3>
                </div>
                {{> showSmallItem}}
            </div>
        {{else}}
            {{> noDataItems}}
        {{/each}}
    </div>
</template>

<template name="showSmallItem">
    <div class="panel-body">
        <div class="detalhes">
            <p align="center"><h4><B><i>Descrição do Projeto</i></B></h4></p>
            <p align="justify">{{descricao}}</P> <BR>
            <p class="text-center">
                {{#with getDoc picture 'Attachments'}}
                    <img src="{{url}}" class="img-thumbnail img-rounded">
                {{/with}}
            </p>
            <div class="media">
                <a class="media-left" href="#">
                    {{> profileThumb _id=owner }}
                </a>
                <div class="media-body">
                    {{niceName owner}}<br>
                    <a class="btn label label-default" href="#">
                        {{UserEmail owner}}<br>
                    </a>
                    {{#if $eq owner User._id}}
                        <small>
                            {{#afModal resetOnSuccess=false closeButtonContent="Sair" dialogClass="modal-dialog navbarpadding" buttonContent="Actualizar Projeto" title="Editar Projeto" omitFields="" class="text-primary" collection="items" operation="update" doc=_id}}
                                <i class="fa fa-pencil"></i> Editar Projeto
                            {{/afModal}}
                            {{#afModal title="Quer Remover este Projeto?" buttonClasses="" class="text-danger" formId="deleteProject" dialogClass="modal-dialog modal-sm navbarpadding" closeButtonContent="Não" buttonContent="Sim, quero" prompt="Aviso: Esta operação é irreversível" collection="items" operation="remove" doc=_id}}
                                <i class="fa fa-times"></i> Apagar Projeto
                            {{/afModal}}
                        </small>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer panel-info">
        {{> favoriteButton _id=_id}}
        <a class="btn btn-info" href="/listItem/{{_id}}">Tarefas
            <span class="badge bg-success">{{tarefasCount _id}}</span>
        </a>
    </div>
</template>

<template name="noDataItems">
    <div>
        <div class="alert alert-info">
            <p>Sem Projetos</p>
            <p><a href="/createItem" class="btn btn-primary"><i class="fa fa-plus"></i> Criar Projeto</a></p>
        </div>
    </div>
</template>

<template name="noNotifications">
    <div>
        <div class="alert alert-info">
            <p><a href="/createNotification" class="btn btn-primary"><i class="fa fa-plus"></i> Criar Mensagem</a></p>
        </div>
    </div>
</template>