<template name="home">
    {{> slideMenu}}
    <div class="container">
        <div class="intro-well wow animated bounceIn">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <h1 align="center">{{Config.title}}</h1>
                    <h2 align="center">{{Config.subtitle}}</h2>
                </div>
            </div>
            <div class="row" align="center">
                {{#if User}}
                    <a href="{{pathFor 'listItems'}}" class="btn btn-success"><i
                            class="fa fa-dashboard"></i> {{_ "dashboard"}}</a>
                {{else}}
                    <a class="btn btn-success"
                       href="{{pathFor 'listItems'}}">{{_ "getstarted"}}</a>
                {{/if}}
            </div>
        </div>
    </div>
</template>
