.navbarpadding {
    padding-top: 51px;
    padding-bottom: 31px;
}

.fixed_width {
    height: 50px;
    width: 50px;
}

p.center {
    text-align: center;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

/*.modal.fade {*/
    /*-webkit-transition: none;*/
    /*-moz-transition: none;*/
    /*-o-transition: none;*/
    /*transition: none;*/
/*}*/

/*.modal.fade.in {*/
    /*-webkit-transition: none;*/
    /*-moz-transition: none;*/
    /*-o-transition: none;*/
    /*transition: none;*/
/*}*/