<template name="listItem">
    {{> slideMenu}}
    <div class="template-dashboard">
        <div class="container">
            <div class="row" id="champion-messages">
                <!--<div class="col-md-3">-->
                    <!--{{#if User}}-->
                <!--{{> favoritesSidebar}}-->
                    <!--{{#if isInRole 'admin'}}-->
                    <!--{{> addPost}}-->
                        <!--{{/if}}-->
                    <!--{{/if}}-->
                <!--</div>-->
                <div class="col-md-9">
                    <!--</div>-->
                    <!--<div class="col-xs-4">-->
                    {{> showAllItems}}
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</template>

<template name="showAllItems">
    <div class="template-posts">
        {{#each  itemList}}
            <div class="panel panel-default panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title" align="center">Projeto: {{nome}}                        <span
                            class="pull-right">
							<i class="fa fa-thumbs-up"></i> {{#with favoritesByDoc _id}}{{count}}{{/with}}
                        <!--<i class="fa fa-comments"></i> {{commentCount _id}}-->
						</span>
                    </h3>
                </div>
                {{> showItem}}
            </div>
        {{else}}
            {{> noData}}
        {{/each}}
    </div>
</template>

<template name="showItem">
    <div class="panel-body detalhes">
        <!--<div class="">-->
        <p align="center"><h4><B><i>Descrição do Projeto</i></B></h4></p>
        <p align="justify">{{descricao}}</P> <BR>
        <!--<B>owner do item:</B> {{owner}} <BR>-->
        <!--<B>Duração do item:</B> {{duracao}} <BR>-->
        <!--<B>createdAt do item:</B> {{createdAt}} <BR>-->
        <!--<B>timestamp do item:</B> {{timestamp}} <BR>-->
        <!--<B>Estado do Projecto:</B> {{estado}} <BR>-->
        <!--<B>dataInicio do Projecto:</B> {{datainicio}} <BR>-->

        <!--<B>Picture do Projecto:</B> <BR>-->
        <p class="text-center">
            {{#with getDoc picture 'Attachments'}}
                <img src="{{url}}" class="img-thumbnail img-rounded">
            {{/with}}
        </p>
        <!--<ul>-->
        {{#each subtarefas}}
            <p>
                <B>Nome da Tarefa:</B> {{nome}} <BR>
                <B>Descrição da Tarefa:</B>
            <p class="word-wrap break-word">{{descricao}}</p>
            <B>Tipo:</B> {{tipo}} <BR>
            <B>Quantidade:</B> {{duracao}} <BR>
            <B>Estado:</B> {{estado}} <BR>
            <BR>
            {{> table_slots}}
            </p>
            <!--<BR>-->
        {{/each}}
        <!--</ul>-->
    </div>
    <div class="media media-left">
        <a class="pull-left" href="#">
            <!--{{> avatar userId=owner shape="circle"}}-->
            {{> profileThumb _id=owner }}
        </a>
        <div class="media-body">
            {{#if $eq owner User._id}}
                <small>
                    {{#afModal buttonContent="Actualizar Projeto" title="Editar Projeto" omitFields="subtarefas.$.slots" class="text-primary" collection="items" operation="update" doc=_id}}
                        <i class="fa fa-pencil" buttonContent="Editar Projeto"></i> Editar Projeto
                    {{/afModal}}
                    {{#afModal buttonContent="Apagar Projeto" prompt="Tem a certeza?" title="Apagar Projeto" class="text-danger modal-sm navbarpadding" collection="items" operation="remove" doc=_id}}
                        <i class="fa fa-times"></i> Apagar Projeto
                    {{/afModal}}
                </small>
            {{/if}}
        </div>
    </div>
    <!--</div>-->
    <!--</div>-->
    <div class="panel-footer">
        {{> favoriteButton _id=_id}}
        <!--<p class="pull-left">-->
        <!--Item Footer-->
        <!--</p>-->
    </div>
</template>

<template name="confirmModal">
    <div class="modal modal-warning fade">
        <div class="modal-dialog modal-sm navbarpadding">
            <div class="modal-content">

                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <h4 class="modal-title">
                        <p align="center">Quer retirar a sua contribuição a esta tarefa?
                        </p>
                    </h4>
                </div>

                <!--<div class="modal-body">-->
                <!--<p>A modal example.</p>-->
                <!--</div>-->

                <div class="modal-footer">
                    <p align="center">
                        <button id="delete" type="button" class="btn btn-danger">Sim, Quero</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                    </p>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="table_slots">
    <!--<div class="table-responsive">-->
    <div class="container-fluid">
    <div class="row">
        <div class="media">
            <!--<table>-->
            <!--<tr>-->
            <div class="media-body">
                <table><tr><td>
                {{#each slots}}
<!--<span>owner: {{owner}}</span>-->
<!--<span>slotOwner: {{slots.owner}}</span>-->
                    <!--&lt;!&ndash;<td>&ndash;&gt;-->

                    <div ids="{{../../_id}}" class="img-responsive profile-thumb pull-left">
                        <div ids="{{../ids}}" class="img-responsive profile-thumb-img pull-left">
                            <!--<img ids="{{num}}" src="{{owner}}" class="img-thumbnail">-->
                            <!--<div ids="{{num}}">-->
                            {{#if profileThumbSrc owner}}
                                <img ids="{{num}}" src="{{profileThumbSrc owner}}" class="img-thumbnail pull-left fixed_width">
                                <!--{{num}} <BR>  {{owner}} <BR> {{ids}} <BR> {{timestamp}}-->
                                <!--{{> profileThumb _id=owner }}-->
                            {{else}}
                                <img ids="{{num}}" src="{{owner}}" class="img-thumbnail pull-left fixed_width">
                            {{/if}}
                            <!--</div>-->
                        </div>
                    </div>

                    <!--&lt;!&ndash;</td>&ndash;&gt;-->
                    <!--{{#if isTR @index}}-->
                        <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<BR>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                    <!--{{else}}&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;{{/if}}-->

                {{/each}}
                </td></tr>
                </table>
            <!--</div>-->
            </div>
            <!--</tr>-->
            <!--</table>-->

        </div>
    </div></div>
</template>

<!--<template name="TR_ON">-->
<!--<TR>-->
<!--</template>-->

<!--<template name="TR_OFF">-->
<!--</TR>-->
<!--</template>-->