<template name="listItem">
    {{> slideMenu}}
    <div class="template-dashboard">
        <div class="container">
            <div class="row" id="champion-messages">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    {{> showAllItems}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="showAllItems">
    <div class="template-posts">
        {{#each  itemList}}
            <div class="panel panel-default panel-info">
                <div class="panel-heading">
                    <span class="pull-left">
							<i class="fa fa-star"></i> {{getRanking owner}}
                        <!--<i class="fa fa-comments"></i> {{commentCount _id}}-->
						</span>
                    <h3 class="panel-title" align="center">Projeto: {{nome}}                        <span
                            class="pull-right">
							<i class="fa fa-thumbs-up"></i> {{#with favoritesByDoc _id}}{{count}}{{/with}}
						</span>
                    </h3>
                </div>
                {{> showItem}}
            </div>
        {{else}}
            {{> noData}}
        {{/each}}
    </div>
</template>

<template name="showItem">
    <div class="panel-body detalhes">
        <p align="center"><h4><B><i>Descrição do Projeto</i></B></h4></p>
        <p align="justify">{{descricao}}</P> <BR>
        <p class="text-center">
            {{#with getDoc picture 'Attachments'}}
                <img src="{{url}}" class="img-thumbnail img-rounded">
            {{/with}}
        </p>
        {{#each subtarefas}}
            <p>
            <h5><i><b>Descrição da Tarefa:</b></i></h5>
            <p class="word-wrap break-word">{{descricao}}</p>
            <B><i>Tipo:</i></B> {{tipo}} <BR>
            <B><i>Total:</i></B> {{duracao}} <BR>
            <B><i>Unidade:</i></B> {{unidade}} <BR>
            <B><i>Donativos por sms:</i></B> {{#if smsengine}}Sim{{else}}Não{{/if}} <BR>
            <BR>
            {{> table_slots}}
            </p>
        {{/each}}
    </div>
    <div class="media media-left">
        <a class="pull-left" href="#">
            {{> profileThumb _id=owner }}
        </a>
        <div class="media-body">
            {{#if $eq owner User._id}}
                <small>
                    {{#afModal buttonContent="Actualizar Projeto" title="Editar Projeto" omitFields="subtarefas.$.slots" class="text-primary" collection="items" operation="update" doc=_id}}
                        <i class="fa fa-pencil" buttonContent="Editar Projeto"></i> Editar Projeto
                    {{/afModal}}
                    {{#afModal buttonClasses="" formId="deleteProject" dialogClass="modal-dialog modal-sm navbarpadding" closeButtonContent="Não" buttonContent="Sim, quero" prompt="Esta operação é irreversível" title=getTitle class="text-danger modal-sm navbarpadding" collection="items" operation="remove" doc=_id}}
                        <i class="fa fa-times"></i> Apagar Projeto
                    {{/afModal}}
                </small>
            {{/if}}
        </div>
    </div>
    <div class="panel-footer panel-info">
        {{> favoriteButton _id=_id}}
    </div>
</template>

<template name="confirmModal">
    <div class="modal modal-warning fade">
        <div class="modal-dialog modal-sm navbarpadding">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <p align="center">Quer retirar a sua contribuição a esta tarefa?
                        </p>
                    </h4>
                </div>
                <div class="modal-footer">
                    <p align="center">
                        <button id="delete" type="button" class="btn btn-danger">Sim, Quero</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Não</button>
                    </p>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="confirmModalSlot">
    <div class="modal modal-warning fade">
        <div class="modal-dialog modal-sm navbarpadding">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <p align="center">Quer contribuir com <b>{{unidade}}</b>, para a esta tarefa?
                        </p>
                    </h4>
                </div>
                <div class="modal-body">
                    <p align="center">{{Config.normalInfo}}</p>
                </div>
                <div class="modal-footer">
                    <p align="center">
                        <button id="confirm" type="button" class="btn btn-success">Sim, Quero</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Não</button>
                    </p>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="confirmModalSlotDonativos">
    <div class="modal modal-warning fade">
        <div class="modal-dialog modal-sm navbarpadding">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <p align="center">Quer contribuir com <b>{{unidade}}</b>, para a esta tarefa?
                        </p>
                    </h4>
                </div>
                <div class="modal-body">
                    {{#if smsengine}}

                        {{#unless Utils.isMobile}}
                            <p align="center">{{Config.smsengineInfo}}
                            </p>
                            <p>
                                <img src="/img/qrcode_contribuir.png" class="img-thumbnail">
                            </p>
                        {{/unless}}
                        {{#if Utils.isMobile}}
                            <p align="center">{{Config.mobileInfo}}</p>
                        {{/if}}
                        {{#unless Utils.isMobile}}
                            <!--<div class="modal-footer">-->
                            <p align="center">
                                <!--<button id="confirm" type="button" class="btn btn-success">Sim, Quero</button>-->
                                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
                            </p>
                            <!--</div>-->
                        {{/unless}}
                        {{#if Utils.isMobile}}
                            <div class="modal-footer">
                                <p align="center">
                                    <a id="wish" href="sms:+3511967958021?body=Contribuir" class="btn btn-success">
                                        Contribuir Agora!
                                    </a>
                                    <!--<button id="confirm" type="button" class="btn btn-info">Depois envio o SMS</button>-->
                                    <button type="button" class="btn btn-info" data-dismiss="modal">Agora não</button>
                                </p>
                            </div>
                        {{/if}}
                    {{else}}

                        <!--<div class="modal-body">-->
                        <p align="center">{{Config.normalInfo}}</p>
                        <!--</div>-->
                        {{#unless Utils.isMobile}}
                            <!--<div class="modal-footer">-->
                            <p align="center">
                                <button id="confirm" type="button" class="btn btn-success">Sim, Quero</button>
                                <button type="button" class="btn btn-info" data-dismiss="modal">Agora não</button>
                            </p>
                            <!--</div>-->
                        {{/unless}}
                        {{#if Utils.isMobile}}
                            <div class="modal-footer">
                                <p align="center">
                                    <a id="wish" href="sms:+3511967958021?body=Contribuir" class="btn btn-success">
                                        Contribuir Agora!
                                    </a>
                                    <!--<button id="confirm" type="button" class="btn btn-info">Depois envio o SMS</button>-->
                                    <button type="button" class="btn btn-info" data-dismiss="modal">Agora não</button>
                                </p>
                            </div>
                        {{/if}}
                    {{/if}}

                </div>
            </div>
        </div>
    </div>
</template>

<template name="table_slots">
    <div class="container-fluid">
        <div class="row">
            <div class="media">
                <div class="media-body">
                    {{#each slots}}
                        <div ids="{{../../_id}}" class="img-responsive profile-thumb pull-left">
                            <div ids="{{../ids}}" class="img-responsive profile-thumb-img pull-left">
                                {{#if profileThumbSrc owner}}
                                    <img ids="{{num}}" src="{{profileThumbSrc owner}}"
                                         class="img-thumbnail pull-left fixed_width">
                                {{else}}
                                    <img ids="{{num}}" src="{{owner}}"
                                         class="img-thumbnail pull-left fixed_width">
                                {{/if}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>