<template name="MyNotifications">
    {{> slideMenu}}
    <div class="container">
        <div class="row" id="champion-messages">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                {{> noNotifications}}
                <!--{{> tabular table=TabularTables.Notifications class="table table-condensed"}}-->
                <!--<div class="template-favorites-sidebar">-->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mensagens</h3>
                    </div>
                    <div class="panel-body">
                        {{#if notificationCount}}
                            {{> tabular table=TabularTables.Notifications class="table table-condensed dataTable form-inline dt-bootstrap no-footer"}}
                        {{else}}
                            <!--{{> noNotifications}}-->
                            <h5>Sem Mensagens novas</h5>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--{{> slideMenu}}-->
    <!--<div class="container">-->
        <!--&lt;!&ndash;<div class="row" id="champion-messages">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
                <!--&lt;!&ndash;{{#if User}}&ndash;&gt;-->
            <!--&lt;!&ndash;{{> favoritesSidebar}}&ndash;&gt;-->
                <!--&lt;!&ndash;{{/if}}&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-md-8">&ndash;&gt;-->
            <!--<section class="container">-->
                <!--{{> tabular table=TabularTables.Notifications class="table dataTable dataTables_wrapper form-inline dt-bootstrap no-footer"}}-->
                <!--&lt;!&ndash;<div class="template-favorites-sidebar">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="panel panel-default">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="panel-heading">&ndash;&gt;-->
                <!--&lt;!&ndash;<h3 class="panel-title">{{_ "Add_Notification"}}</h3>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="panel-body">&ndash;&gt;-->
                <!--&lt;!&ndash;{{> quickForm collection="Notifications" id="insertNotificationForm" type="insert" omitFields="link,date,owner,read,class"}}&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</section>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
</template>

<template name="showIcon">
    <a id="icon" href="/showNotification/{{_id}}" class="btn btn-default btn-xs btn-info"><i class="fa fa-{{icon}}"></i></a>
</template>

<template name="replyNotification">
    <a id="reply" href="#" class="hidden-xs btn btn-xs btn-primary"><i id="reply" class="fa fa-pencil"></i></a>
    <a id="reply" href="#" class="visible-xs btn btn-sm btn-primary"><i id="reply" class="fa fa-pencil"></i></a>
</template>

<!--<template name="EditNotification">-->
    <!--<a href="/showNotification/{{_id}}" class="hidden-xs btn btn-xs btn-primary"><i class="fa fa-pencil"></i></a>-->
    <!--&lt;!&ndash;<button type="button" class="btn btn-xs check-out">Check Out</button>&ndash;&gt;-->
<!--</template>-->
<!--<template name="showIcon">-->
    <!--<a href="#" class="hidden-xs btn btn-xs btn-primary"><i class="fa fa-{{icon}}"></i></a>-->
    <!--&lt;!&ndash;<button type="button" class="btn btn-xs check-out">Check Out</button>&ndash;&gt;-->
<!--</template>-->
<template name="deleteNotification">
    <!--{{#afModal formId="deleteNot" collection="Notifications" operation="remove" doc=_id}}-->
        <!--<i class="fa fa-times"></i>-->
    <!--{{/afModal}}-->
    <div id="delete">{{#afModal title="Quer apagar a mensagem?" formId="deleteNot" dialogClass="modal-dialog modal-sm navbarpadding" closeButtonContent="Não" buttonContent="Sim, quero" prompt="Esta operação é irreversível" class="text-danger modal-sm navbarpadding" collection="Notifications" operation="remove" doc=_id}}
        <a id="delete" data-toggle="modal" doc="{{_id}}" href='#delete-modal'
           class="hidden-xs btn btn-xs btn-danger btn-delete"><i id="delete" class="fa fa-times" doc="{{_id}}"></i></a>
        <a id="delete" data-toggle="modal" doc="{{_id}}" href='#delete-modal' class="visible-xs btn btn-sm btn-danger btn-delete"><i
                class="fa fa-times" doc="{{_id}}" id="delete"></i></a>
    {{/afModal}}</div>

</template>

<template name="UsersMailBtn">
    <a href="/showNotification/{{_id}}" class="">{{email}}</a>
</template>

<!--<template name="deleteNotification">-->
    <!--<div class="modal fade" id="delete-modal">-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                    <!--<h4 class="modal-title">Confirm delete</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<p>Are you sure you want to delete this?</p>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <!--<button type="button" id="confirm-delete" class="btn btn-danger">Delete</button>-->
                <!--</div>-->
            <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
        <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
<!--</template>-->