<!--<template name="editItem2">-->
    <!--{{> slideMenu}}-->
    <!--<div class="container">-->
        <!--<div class="row" id="champion-messages">-->
            <!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
                <!--&lt;!&ndash;{{#if User}}&ndash;&gt;-->
            <!--&lt;!&ndash;{{> favoritesSidebar}}&ndash;&gt;-->
                <!--&lt;!&ndash;{{/if}}&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="col-md-1">-->
            <!--</div>-->
            <!--<div class="col-md-10">-->

                <!--&lt;!&ndash;<div class="template-favorites-sidebar">&ndash;&gt;-->
                <!--<div class="panel panel-default panel-info">-->
                    <!--<div class="panel-heading">-->
                        <!--<h3 class="panel-title">Editar Projeto</h3>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--{{> quickForm resetOnSuccess=false buttonContent="Atualizar Projeto" id="editItem2" type="update" collection="items" doc=this omitFields=""}}-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</template>-->