<template name="editItem2">
    {{> slideMenu}}
    <div class="container">
        <div class="row" id="champion-messages">
            <!--<div class="col-md-4">-->
                <!--{{#if User}}-->
            <!--{{> favoritesSidebar}}-->
                <!--{{/if}}-->
            <!--</div>-->
            <div class="col-md-1">
            </div>
            <div class="col-md-10">

                <!--<div class="template-favorites-sidebar">-->
                <div class="panel panel-default panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Editar Projeto</h3>
                    </div>
                    <div class="panel-body">
                        {{> quickForm resetOnSuccess=false buttonContent="Atualizar Projeto" id="editItem2" type="update" collection="items" doc=this omitFields=""}}
                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</template>