<template name="profile">
    {{> slideMenu}}
    <div class="container">
        <div class="row" id="champion-messages">
            {{#autoForm id="updatePicture" collection=Users doc=User type="update"}}
                <div class="col-md-4">
                    {{> afQuickField name="profile.picture"}}
                </div>
            {{/autoForm}}
            {{#autoForm id="updateProfile" collection=Users doc=User type="update"}}
                <div class="col-md-8">
                    {{> afQuickField name='profile' omitFields="profile.picture"}}
                    <button type="submit" class="btn btn-primary">{{_ "update"}}</button>
                </div>
            {{/autoForm}}
        </div>
    </div>
</template>

<template name="mySelectFileBtn">
    <button type="button" class="js-af-select-file needsclick btn btn-info">Adicionar</button>
</template>

<template name="myRemoveFileBtn">
    <button type="button" class="js-af-remove-file needsclick btn btn-danger">Remover</button>
</template>